@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');


.App {
  text-align: center;
      padding-top: 10%;
}

.app-header {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #28536B;
    font-family: 'Kanit',
    sans-serif;
    font-weight:400;
    font-size: 36px;
    display:flex;
}


.player-table {
  text-align: center;
  border: 1px solid #BBB193;
  color: #28536B;
  background-color: #F6F0ED;
  width: 100%;
  flex-direction: column;
  align-items: normal;
  justify-content: space-evenly;
}

.row {
  text-align: center;
  justify-content: space-between;
    font-family: 'Kanit',
    sans-serif;
    font-weight:400;
    font-size: 26px;
}

.player-info{
      font-family: 'Kanit',
      sans-serif;
      font-weight:200;
      font-size: 18px;
}